<div id="testimonies">
  <% Testimony.order("tweet_id desc").limit(3).each do |testimony| %>
    <blockquote><%= testimony.content %></blockquote>
    <div class="from">&mdash; @<%= testimony.screen_name %></div>
  <% end %>
</div>

 <% if current_user %>
     <% @name = current_user.name %>
    <% else %>
      <% @name = 'profkeithdevlin' %>
    <% end %>

<h1>Welcome to my cool page about MATH!</h1>
<!-- <div class="widget">
<script type="text/javascript" id="WolframAlphaScript9a65d8f681eb161006ac959a570600f5" src="http://www.wolframalpha.com/widget/widget.jsp?id=9a65d8f681eb161006ac959a570600f5&theme=pink"></script>
</div>
<div class="widget">
<script type="text/javascript" id="WolframAlphaScriptc08abdfad98ebf82a02023705041633b" src="http://www.wolframalpha.com/widget/widget.jsp?id=c08abdfad98ebf82a02023705041633b&theme=red&output=iframeOpenExpand"></script>
</div> -->


<div class="tweets" >
<script charset="utf-8"src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
var name = '<%= @name %>'
   new TWTR.Widget({
	 version:2,
     type: 'search',
     search: 'from:'+name+'#math', // includes all advanced search queries.
     width: 250,
     height: 150,
     interval: 6000,
     subject: "What "+name+" is saying about #math",
     title: "",
     rpp: 30,
     footer: "Math is the BEST!",
     theme: {
       shell: {
         background: '#1deb25',
         color: '#ffffff'
       },
       tweets: {
         background: 'silver',
         color: 'blue',
         links: 'black'
       }
     },

     features: {
       avatars: true, // defaults to false for profile widget, but true for search & faves widget
       hashtags: true,
       timestamp: true,
       fullscreen: false, // ignores width and height and just goes full screen
       scrollbar: false,
       live: true,
       loop: true,
       behavior: 'default',
       dateformat: 'absolute', // defaults to relative (eg: 3 minutes ago)
       toptweets: true // only for search widget
     }
   }).render().start();
</script>
</div>


<div class="tweets">

<a class="twitter-timeline" href="https://twitter.com/search?q=%23math" data-widget-id="248853390707261440">Tweets about "#math"</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

</div>